/* Enables to use fonts from the web */

@font-face {
    font-family: decorativeFont;
    src: url(Sinera.woff);
}

@font-face {
    font-family: Nexa;
    src: url(Nexa-ExtraLight.ttf);
    font-weight: url(Nexa-Heavy.ttf);
}

body {
    background-color: rgb(249, 230, 20);
    font-size: 13px;
}

/* Code responsible for rotating and cast shadowing */
#img1 {
    width: 250px;
    rotate: 7deg;
    border-radius: 10px;
    box-shadow: 8px 8px rgba(0, 0, 0, 0.301), 20px 15px rgba(0, 0, 0, 0.301);
    margin-top: 10px;
}


/* Used for giving the font style to captions under images and to the text */
.flex-textarea>div,
figcaption {
    margin: 50px 50px 50px 50px;
    font-family: 'Nexa';
    line-height: 1.5;
    text-indent: 0px;
}

blockquote.wrapped-left,
blockquote.wrapped-right {
    font-family: 'decorativeFont';
    color: brown;
    margin: 10px 10px 10px 10px;
}

h1 {
    font-family: 'decorativeFont';
    color: brown;
    margin: 30px 10px 10px 10px;
}

.header {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.main-container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    border: 4px dotted rgba(4, 141, 233, 0.8);
    /* justify-content: center; */
    margin: 10px 10px 10px 10px;
    padding: 10px 10px 10px 10px;
}

.flex-textarea {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.flex-textarea>div {
    /* Margins are used to create space around elements, outside of any defined borders. */
    margin: 5px 5px 5px 5px;
    /* The CSS padding properties are used to generate space around an element's content, inside of any defined borders. */
    padding: 5px 5px 5px 5px;
    flex: 1;
    background-color: #f1f1f1;
    color: darkblue;
    text-align: justify;
    line-height: 15px;
    column-count: auto;
    min-width: 250px;
    padding: 10px 10px 10px 10px;
}

.wrapped-right {
    float: right;
}

.wrapped-left {
    float: left;

}

img.wrapped-left,
img.wrapped-right {
    margin: 5px 5px 5px 5px;
    max-width: 220px;
    max-height: fit-content;
}

/* Here I specify that max-width of images inside column is 220px, so that of columns will be similarly displayed */

.flex-gallery {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: stretch;
    grid-column: 1;
    height: 100%;
    width: 100%;
    text-align: center;
}

figcaption {
    background-color: #5e9fc4;
    border-radius: 30px;
    padding: 10px;
}

#img {
    width: 350px;
    border: 10px dotted rgba(5, 11, 177, 0.8);
    margin: 0px;
}

footer {
    text-align: center;
    margin: auto;
    padding: 2px;
    border-radius: 55px;
    background-color: #fdf5df;
    color: #8812e3;
    font-size: 100%;
    font-family: 'Nexa';
    font-weight: bold;
}

@media screen and (max-width: 799px) {

    body {
        background-color: rgb(236, 196, 54);
    }

    .main-container {
        display: flex;
        flex-direction: column-reverse;
        gap: 20px;
    }

    .flex-textarea {
        order: 1;
        flex-direction: column;
        flex-wrap: nowrap;
    }

    .flex-gallery {
        order: -1;
    }

}